[submodule "external/googletest"]
	path = external/googletest
	url = http://git.chromium.org/external/googletest.git
[submodule "external/googlemock"]
	path = external/googlemock
	url = https://chromium.googlesource.com/external/googlemock
